.container {
  width: 100vw;
  height: 100vh;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 480px auto;
}

.transactions {
  background-color: #f4f4f4;
}

.graph {
  background-color: #595959;
}