.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 480px auto;
}

.transactions {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f4f4f4;
}

.graph {
  background-color: #ffffff;
}